
<section class="container subtopics-container ">
  <div class="row justify-content-center">
  <section class="col-3">
    <h2 class="text-center">Welcome</h2>
    <p>This is a placeholder text. This is a placeholder text. This is a placeholder text. This is a placeholder text.</p>
  </section>
  <section class="col-3">
    <h2 class="text-center">To</h2>
    <p>This is a placeholder text. This is a placeholder text. This is a placeholder text. This is a placeholder text.</p>
  </section>
  <section class="col-3">
    <h2 class="text-center">Page</h2>
    <p>This is a placeholder text. This is a placeholder text. This is a placeholder text. This is a placeholder text.</p>
  </section>
  </div>
</section>
