.subtopics{
  display: flex;
flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  border: 1px solid black;
}

.topic-1{
  display: flex;
  border: 1px solid black;
  width: 3rem;
  height: 100px;

}
.topic-2{
  display: flex;
  border: 1px solid black;
  width: 3rem;
}
.topic-3{
  display: flex;
  border: 1px solid black;
  width: 3rem;
}

.subtopics-container {
  max-width: unset;
  border: 1px solid black;
}
