.btn-outline-denim {
  color: #fff;
  border-color: #1c60b0;
  background-color: #1c60b0;
}

.btn-outline-denim:hover, .btn-outline-denim:focus {
  color: #fff;
  background-color: #1c60b0;
  border-color: #1c60b0;
  box-shadow: 0 0 0 0.2rem rgba(28, 96, 176, 0.5);
}


/****************************************************
        Overridden Boostrap styles
****************************************************/

.navbar-brand {
  margin-right: 2.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.65);
  font-size: 1.1rem;
  margin-right: 20px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: rgba(0, 0, 0, 0.9);
}

