<img src="https://i.stack.imgur.com/y9DpT.jpg">

<!--<slideshow [imageUrls]="imageUrlArray"></slideshow>-->





<!-- <head>-->
<!--  &lt;!&ndash; Start WOWSlider.com HEAD section &ndash;&gt;-->
<!--&lt;!&ndash;  <link rel="stylesheet" type="text/css" href="engine1/style.css" />&ndash;&gt;-->
<!--&lt;!&ndash;  <script type="text/javascript" src="engine1/jquery.js"></script>&ndash;&gt;-->
<!--  &lt;!&ndash; End WOWSlider.com HEAD section &ndash;&gt;-->
<!--</head>-->

<!--<body>&lt;!&ndash; Start WOWSlider.com BODY section &ndash;&gt;-->
<!-- <div id="wowslider-container1">-->
<!--   <div class="ws_images"><ul>-->
<!--     <li><img src="https://wowslider.com/sliders/demo-90/data1/images/piano233684_1280.jpg" alt="Keyboard" title="Keyboard" id="wows1_0"/></li>-->
<!--     <li><img src="https://wowslider.com/sliders/demo-90/data1/images/piano233684_1280.jpg" alt="Linen" title="Linen" id="wows1_1"/>Clean and Tidy</li>-->
<!--     <li><img src="https://wowslider.com/sliders/demo-90/data1/images/piano233684_1280.jpg" alt="Piano" title="Piano" id="wows1_2"/>Sleek black and white keys</li>-->
<!--   </ul></div>-->
<!--   <div class="ws_bullets"><div>-->
<!--     <a href="#" title="Keyboard"><span><img src="https://wowslider.com/sliders/demo-90/data1/images/piano233684_1280.jpg" alt="Keyboard"/>1</span></a>-->
<!--     <a href="#" title="Linen"><span><img src="https://wowslider.com/sliders/demo-90/data1/images/piano233684_1280.jpg" alt="Linen"/>2</span></a>-->
<!--     <a href="#" title="Piano"><span><img src="https://wowslider.com/sliders/demo-90/data1/images/piano233684_1280.jpg" alt="Piano"/>3</span></a>-->
<!--   </div></div>-->
<!--   <div class="ws_shadow"></div>-->
<!-- </div>-->
<!-- <script type="text/javascript" src=""></script>-->
<!-- <script type="text/javascript" src=""></script>-->
<!-- &lt;!&ndash; End WOWSlider.com BODY section &ndash;&gt;</body>-->

<!-- <ngb-carousel *ngIf="images">-->
<!--   <ng-template ngbSlide>-->
<!--     <div class="picsum-img-wrapper">-->
<!--       <img [src]="images[0]" alt="Random first slide">-->
<!--     </div>-->
<!--     <div class="carousel-caption">-->
<!--       <h3>First slide label</h3>-->
<!--       <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
<!--     </div>-->
<!--   </ng-template>-->
<!--   <ng-template ngbSlide>-->
<!--     <div class="picsum-img-wrapper">-->
<!--       <img [src]="images[1]" alt="Random second slide">-->
<!--     </div>-->
<!--     <div class="carousel-caption">-->
<!--       <h3>Second slide label</h3>-->
<!--       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
<!--     </div>-->
<!--   </ng-template>-->
<!--   <ng-template ngbSlide>-->
<!--     <div class="picsum-img-wrapper">-->
<!--       <img [src]="images[2]" alt="Random third slide">-->
<!--     </div>-->
<!--     <div class="carousel-caption">-->
<!--       <h3>Third slide label</h3>-->
<!--       <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
<!--     </div>-->
<!--   </ng-template>-->
<!-- </ngb-carousel>-->
