<app-top-banner></app-top-banner>
<section class="city-page">
  <section class="cities-column">

    <ul>
      <h1 class="city-title">Cities</h1>
      <li class="city" *ngFor="let city of citiesInfo">
        <img src="{{city.pictureUrl}}">
        <span class="city-name">{{city.name}}</span>
      </li>
    </ul>
  </section>
  <section class="post-column">
    <p>Test text</p>
    <p>Test text</p>
    <p>Test text</p>
    <section class="posts">
      <div class="post1">
        Test post
      </div>
      <div class="post2">
        Test post
      </div>
    </section>
  </section>
</section>
