.cities-column {
  padding-top: 15px;
  border: 1px solid #1c60b0;
  justify-content: center;
  display: flex;
  height: inherit;
  width: inherit;
  background-color: #FFFFFF;
  padding-right: 30px;
  color: #1c60b0;
  border-radius: 40px;

}
.city-title{
  font-weight: bold;
}

.post-column {
  padding-top: 15px;
  border: 1px solid #1c60b0;
  justify-content: center;
  display: flex;
  height: inherit;
  width: inherit;
  background-color: #FFFFFF;
  padding-right: 30px;
  color: #1c60b0;
  border-radius: 40px;
  padding-left: 15px;
}

.city-page {
  display: flex;
  flex-direction: row;

}

img {
  width: 200px;
  height: 100px;
  border: 2px solid white;
}

.city {
  border-radius: 40px;
  display: flex;
  border: 1px solid #1c60b0;
  padding: 25px;
  height: 200px;
  width: 500px;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #1c60b0;
}

.city-name {
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
  font-family: 'Raleway', serif;
  margin-left: 3rem;
  letter-spacing: 3px;
}

